/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [id]
      ,[StaffCount]
      ,[HourCount]
      ,[HourSalary]
      ,[idPlanStaff]
      ,[idEmployee]
      ,[idBeginPrikaz]
      ,[idEndPrikaz]
      ,[idTypeWork]
      ,[DateBegin]
      ,[DateEnd]
      ,[IsReplacement]
      ,[idFactStaffHistory]
      ,[IDShedule]
      ,[idSalaryKoeff]
      ,[idlaborcontrakt]
      ,[idreason]
      ,[HourStaffCount]
      ,[CalcStaffCount]
      ,[idOKVED]
      ,[idFundingCenter]
      ,[idDepartment]
      ,[WorkHoursInWeek]
      ,[InclInTabel]
      ,[idFactStaffHistory2]
  FROM [Kadr].[dbo].[FactStaffWithHistory]
  where idEmployee = 826461 --idFactStaffHistory = 24506 or idFactStaffHistory = 24975 and
  --DateBegin = '08.10.2016'  
 -- DateEnd = '08.10.2016'
 order by [DateBegin] desc