SELECT TOP (1000) [Ik_ved]
      ,[Ik_zach]
      ,[Cosenca]
      ,[PropCount]
      ,[UserName]
      ,[i_balls]
      ,[Uvag_PropCount]
  FROM [UGTU].[dbo].[Uspev]
  where [Ik_zach] = 84093

