/****** Скрипт для команды SelectTopNRows из среды SSMS  ******/
SELECT TOP (1000) [Код]
      ,[ИмяФайла]
      ,[УчебныйГод]
      ,[Специальность]
      ,[КодТипаПлана]
      ,[Титул]
      ,[Факультет]
      ,[КодФакультета]
      ,[КодСпециальности]
      ,[Поколение]
      ,[АвтоПроверка]
      ,[ДатаУтверРектором]
      ,[ДатаУтверСоветом]
      ,[НомПротокСовета]
      ,[КодПрофКафедры]
      ,[ИмяВуза]
      ,[ИмяПодразделения]
      ,[ДатаИзмФайла]
      ,[КодВуза]
      ,[ДатаАттестации]
      ,[ДатаВерсииПриложения]
      ,[НомерВерсииПриложения]
      ,[ИмяПриложения]
      ,[НомерПользователя]
      ,[ИмяПользователя]
      ,[Утверждение]
      ,[АвтоРасчетНачалаСеместров]
      ,[ДатаГОСа]
      ,[ГодНачалаПодготовки]
      ,[ИмяФайлаГОСа]
      ,[ДатаСертификатаИМЦА]
      ,[ШифрСертификата]
      ,[КонтрольнаяСуммаСертификата]
      ,[КредитовНаГод]
      ,[КредитовНаВесьСрок]
      ,[ЧасовВКредите]
      ,[КредитовНаКонтроль]
      ,[КредитовВНеделе]
      ,[ГоловнаяОрганизация]
      ,[ИКЭКурс]
      ,[Идентификатор]
      ,[ЗаочНедельНаДиплом]
      ,[ЗаочНедельНаГЭК]
      ,[Резерв]
      ,[ДатаИзмененияФайла]
      ,[НазваниеКредитов]
      ,[ДнейНаСессию1]
      ,[ДнейНаСессию2]
      ,[ДнейНаСессию3]
      ,[ПолноеИмяФайла]
      ,[КодФормыОбучения]
      ,[СеместровНаКурсе]
      ,[ЭлементовВНеделе]
      ,[ФГОС]
      ,[Трудоемкость]
      ,[МаксУчНагрузка]
      ,[ДоляЛекций]
      ,[ДоляИнтерактив]
      ,[ДоляВариатив]
      ,[КодУровняОбразования]
      ,[КодПодразделения]
      ,[Дистанционное]
      ,[Сокращённое]
      ,[СтатусВНагрузке]
      ,[ИзмененияВнесены]
      ,[НагрузкаКоэфСтудНаПрепод]
      ,[Корень]
      ,[КодСтатуса]
      ,[ДатаПроверки]
      ,[КурсыОбучения]
      ,[Военный]
      ,[ШифрСпециальности]
      ,[НедельОбучения]
      ,[НедельНаПолевыеЗанятия]
      ,[СтупеньКвалификации]
      ,[СрокОбучения]
      ,[СрокОбученияМесяцев]
      ,[ОбъемУчНагрузки]
      ,[УровеньПодготовкиСПО]
      ,[БазаОбучения]
      ,[ТипБазыОбучения]
      ,[КодПрофиля]
      ,[НагрузкаВЧасахНПО]
      ,[ВключатьЧасыНаЭкзамены]
      ,[БазовоеОбразование]
      ,[ЧислоСеместровСессий]
      ,[СтатусРПД]
      ,[ТипГОСа]
      ,[УчПрПлюсТО]
      ,[КодБазПлана]
      ,[КодООП]
      ,[КодАктивногоООП]
      ,[КодПрограммы]
      ,[КодБазы]
      ,[КодОрганизации]
      ,[КодСтрЕдиницы]
      ,[Индивидуальный]
      ,[ФИО]
      ,[Военные]
      ,[ДляИностранных]
      ,[Квалификация]
      ,[Специализация]
      ,[ВоеннаяСпециальность]
      ,[Предназначение]
      ,[ЧислоКурсов]
      ,[ЧислоСессий]
      ,[КодГрафика]
      ,[НомерФГОС]
      ,[Примечание]
      ,[ЗЕТвНеделю]
      ,[Точность]
      ,[ДвИГА]
      ,[ГвИГА]
      ,[ИмяКомпьютера]
  FROM [dekanatMMIS].[dbo].[Планы]
  where [Код] = 1982

  go

  SELECT TOP (1000) [Код]
      ,[КодПлана]
      ,[Номер]
      ,[ВыпускЭкзамен]
      ,[КолЧлКаф]
      ,[Семестр]
      ,[Недель]
      ,[КодКафедры]
      ,[ВидПрактики]
      ,[КатегорияПрактики]
      ,[Часов]
      ,[ВидНагрузки]
      ,[Дней]
      ,[ЗЕТ]
      ,[Студентов]
      ,[НормативНаСтуд]
      ,[НормативНаСтудВНед]
      ,[НормативНаПодгр]
      ,[НормативНаПодгрВНед]
      ,[ТипПрактики]
      ,[ВсегоЧасов]
      ,[АудиторныхЧасов]
      ,[Экзамен]
      ,[Зачёт]
      ,[ЗачётСОценкой]
      ,[КурсоваяРабота]
      ,[КурсовойПроект]
  FROM [dekanatMMIS].[dbo].[ПланыПрактики]
  where [Код] = 12261 or [КодПлана] = 1982

  go

  SELECT TOP (1000) [Код]
      ,[КодПлана]
      ,[ТипСтроки]
      ,[Дисциплина]
      ,[НомерСтроки]
      ,[НомерБлока]
      ,[НомерСтрокиВБлоке]
      ,[ЧасовПоГОСу]
      ,[ЧасовСамостоятельнаяРабота]
      ,[КодКафедры]
      ,[КоэффициентУникальности]
      ,[ПризнакНазванияРаздела]
      ,[ПризнакРаздела]
      ,[ПерезачтеноКонтрольных]
      ,[ПерезачтеноЧасов]
      ,[ПодлежитИзучениюЧасов]
      ,[ТрудоемкостьКредитов]
      ,[ЦиклКод]
      ,[ДисциплинаКод]
      ,[КонтрольнаяСумма]
      ,[Резерв]
      ,[КодДисциплины]
      ,[Выборная]
      ,[ДополнительнаяВыборная]
      ,[Факультатив]
      ,[Цикл]
      ,[Компонент]
      ,[Компетенции]
      ,[ЧасовВЗЕТ]
      ,[ПолевыеЗанятия]
      ,[НеСчитатьЗачеты]
      ,[НеСчитатьКонтроль]
      ,[МаксУчНагрузкаСПО]
      ,[Удалена]
      ,[КодООП]
      ,[КодБлока]
      ,[КодРодителя]
      ,[ТипОбъекта]
      ,[ВидОбъекта]
      ,[ВидПрактики]
      ,[РассредПрактика]
      ,[УровеньВложения]
      ,[ПризнакФизкультуры]
      ,[СчитатьБезЗЕТ]
      ,[СчитатьВПлане]
      ,[ЗаСчетПолевых]
      ,[ЗЕТфакт]
      ,[ЗЕТизучено]
      ,[ЧасовПоЗЕТ]
      ,[ЧасовПоПлану]
      ,[ЧасовИзучено]
      ,[НестандартНедПрактики]
      ,[ReadOnly]
      ,[Свернуть]
      ,[Multiselect]
      ,[Оценка]
      ,[ТипПерезачета]
      ,[Адаптационная]
  FROM [dekanatMMIS].[dbo].[ПланыСтроки]
  where [КодПлана] = 1982 and [Дисциплина] like '%учебная (геодезическая)%'

  go

  SELECT TOP (1000) [Код]
      ,[КодПлана]
      ,[Номер]
      ,[Наименование]
      ,[ШифрКомпетенции]
      ,[Удалена]
      ,[КодООП]
      ,[КодВидаДеятельности]
      ,[КодКомпетенции]
  FROM [dekanatMMIS].[dbo].[ПланыКомпетенции]
  where [КодПлана] = 1982
