/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [id]
      ,[DepartmentName]
      ,[DepartmentSmallName]
      ,[idDepartmentType]
      ,[idManagerDepartment]
      ,[KadrID]
      ,[dateCreate]
      ,[dateExit]
      ,[idManagerPlanStaff]
      ,[idBeginPrikaz]
      ,[idEndPrikaz]
      ,[SeverKoeff]
      ,[RayonKoeff]
      ,[DepartmentGUID]
      ,[idFundingCenter]
      ,[DepartmentIndex]
      ,[DepPhoneNumber]
      ,[HasTimeSheet]
      ,[idOKVED]
      ,[Address]
      ,[idRegionType]
  FROM [Kadr].[dbo].[Department]
  where id=3 -- наша служба
   or id = 39 -- наша ивц
   go 

   SELECT TOP 1000 [id]
      ,[idDepartment]
      ,[idPost]
      ,[idEndPrikaz]
      ,[DateEnd]
      ,[IdWorkShedule]
      ,[ContactsIDFK]
  FROM [Kadr].[dbo].[PlanStaff]
  where id = 2737 -- idManagerPlanStaff службы в к которй отностися наш ивц

  go

  /****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [id]
      ,[idPlanStaff]
      ,[idEmployee]
      ,[idEndPrikaz]
      ,[DateEnd]
      ,[IsReplacement]
      ,[PhoneNumber]
      ,[IDShedule]
      ,[idlaborcontrakt]
      ,[idreason]
      ,[idFundingDepartment]
      ,[idTimeSheetSheduleType]
      ,[idFundingCenter]
      ,[idDepartment]
      ,[idFinancingSource]
      ,[Comment]
      ,[idMainFactStaff]
      ,[idOKVED]
      ,[ContactsIDFK]
      ,[VacationDaysLeftover]
      ,[VacationCountStart]
      ,[Probation]
      ,[VacationTakeStart]
  FROM [Kadr].[dbo].[FactStaff]
  where idPlanStaff = 2737 --idManagerPlanStaff службы в к которй отностися наш ивц
  go 
  /****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [id]
      ,[itab_n]
      ,[FirstName]
      ,[LastName]
      ,[Otch]
      ,[BirthDate]
      ,[BirthPlace]
      ,[SexBit]
      ,[idGrazd]
      ,[idSemPol]
      ,[SeverKoeff]
      ,[RayonKoeff]
      ,[GUID]
      ,[EmployeeSid]
      ,[EmployeeLogin]
      ,[AllowBirthdate]
      ,[paspser]
      ,[paspnomer]
      ,[paspdate]
      ,[paspkem]
      ,[inn]
      ,[ssgps]
      ,[medpolis]
      ,[EmployeeName]
      ,[OtpReducedFareDateBegin]
      ,[EmployeeSmallName]
      ,[EmplHistSer]
      ,[EmplHistNumber]
      ,[EmplHistDate]
      ,[idMilitaryCategory]
      ,[idMilitaryRank]
      ,[VUSCode]
      ,[idMilitaryFitness]
      ,[MilitaryCommissariat]
      ,[idMilitaryType]
      ,[RemovalMilitaryMark]
      ,[idMilitaryStructure]
      ,[NumberMilitaryType]
      ,[email]
      ,[paspCodeKem]
      ,[idPrikazFIO]
      ,[DateFIOUse]
      ,[NorthYearDate]
  FROM [Kadr].[dbo].[Employee]
  where id = 6490 -- вот он проректор