/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [id]
      ,[DepartmentName]
      ,[DepartmentSmallName]
      ,[idDepartmentType]
      ,[idManagerDepartment]
      ,[KadrID]
      ,[dateCreate]
      ,[dateExit]
      ,[idManagerPlanStaff]
      ,[idBeginPrikaz]
      ,[idEndPrikaz]
      ,[SeverKoeff]
      ,[RayonKoeff]
      ,[DepartmentGUID]
      ,[idFundingCenter]
      ,[DepartmentIndex]
      ,[DepPhoneNumber]
      ,[HasTimeSheet]
      ,[idOKVED]
      ,[Address]
      ,[idRegionType]
  FROM [Kadr].[dbo].[Department]
 where [DepartmentName] LIKE '%Общежитие %'