/****** Script for SelectTopNRows command from SSMS  ******/
SELECT-- [UIDApplication]
      --,[ApplicationNumber]
      --,[NeedHostel]
      --,AV.[UIDPerson]
      [LastName] as [Фамилия] 
      ,[FirstName] as [Имя]
      ,[MiddleName] as [Отчество]
      --,[IDGender]
      ,
	  CONVERT(VARCHAR(24),[DateBirth],104) as [Дата Рождения]
      --,[UIDCompetitiveGroup]
      --,[CompetitiveGroup]
      --,[UIDTargetOrganization]
      --,[TargetOrganization]
      --,[DateRegistrationApplication]
      --,[UIDExam]
      --,[IDTypeExam]
      --,[Exam]
      --,[IDSourceExam]
      --,[IDSubject]
      --,[Subject]
      --,[ExamVedom]
      --,[ExamMark]
      --,[AverMark]
      --,[DateExam]
      --,[StateZach]
      --,[IDStateZach]
      --,[IDTypeDirection]
      ,[TypeDirection] as [Уровень образования]
      --,[IDSpeciality]
      ,[Speciality] as [Специальность]
      --,[IDDirection]
      --,[IDFormEducation]
      ,[FormEducation] as [Форма обучения]
      --,[IDFaculty]
      ,[Faculty] as [Институт]
      --,[JournalIsActual]
      --,[IDNationality]
      --,[IDCategoryZachBenefit]
      --,[CategoryZach] as [Категория зачисления]
      --,[IDTypeCategoryZach]
      ,[Year] as [Год поступления]
      --,[IDOrder]

	  --,[UIDPerson]
      --,[UIDDocument]
      ,[DocumentSeria] as [Серия]
      ,[DocumentNumber] as [Номер]
      ,
	   CONVERT(VARCHAR(24),[DateDocument],104) as [Дата выдачи]
      ,[Document] as [Документ]
      ,[DocumentOrganization] as [Кем выдан]
      --,[IDDocument]
      --,[IDDictionary]
      --,[BonusBall]
  FROM [UGTU].[FIS].[ApplicationView] as AV left join [UGTU].[FIS].[DocumentsView] as DV
  on AV.[UIDPerson] = DV.[UIDPerson]
  where 
  IdSpeciality = 354673
  --[CompetitiveGroup] like '%защита%' 
  and [Year] = 2015 and [IDStateZach] = 8 and (DV.IDDocument = 1 or DV.IDDocument is null)
  order by [LastName]
      ,[FirstName]
      ,[MiddleName]