/****** Script for SelectTopNRows command from SSMS  ******/
SELECT *
  FROM [UGTU_TEST].[dbo].[Raion] as RR inner join [UGTU].[dbo].[Raion] as R
  on RR.Ik_raion = R.Ik_raion inner join [UGTU_TEST].[dbo].[Region] as RReg 
  on RR.Ik_region = RReg.Ik_region inner join [UGTU].[dbo].[Region] as Reg 
  on RR.Ik_region = Reg.Ik_region 
  where RR.GUID in (
'00000000-0000-0000-0000-000000000000',
'C5FC372C-3F49-4342-BA50-BDCFB83F17B1',
'7DD380B3-CE33-4280-934F-A4265A07803B',
'B4DFEA59-0559-41BB-8689-F6D9929B39F7',
'436B8365-A1A4-4ACF-9941-A450062FD2F8',
'7A6D116E-9488-4487-B6BC-53C9518FB8A5',
'EAAB893F-69E2-4A0C-9072-64F12C762198',
'96310529-D09C-4E5C-8FAB-68D02BD0EE6B',
'FDB8E762-1223-4047-93A7-701E1DB62D52',
'3A45BD08-511F-4992-88ED-7654F7D49835',
'11D2D6E6-0275-4CFA-883E-8E8A43FE1837',
'962D32BD-EE76-41E6-9710-920E5957D26A',
'C278CBBC-E209-4B0F-B20E-9C19ED6F6802',
'C6AFEA54-DEF9-4CE4-A463-A068DC1BD9A6',
'BA569589-D1FB-4B2E-87FD-04DCC8127663',
'35F01EA7-5E6D-42EC-9DD3-0BF62002FF17',
'40F909C8-210E-4741-8EDA-2024D4795692',
'BA3415FB-807E-472F-9C70-42BA8C74D4C4',
'B6C85A2D-C0EC-4030-A306-4CA7BDCD25F4',
'912FA357-C695-4E97-AE65-4F2E942CB054',
'4C0AA2D7-166D-4D0A-A1F8-B09CB1A9E119',
'B10BEEFF-7669-45AA-9127-B1CC9DB1CC4C',
'C4C8DA32-62F3-422E-828B-B3669D0231EA',
'7DFA745E-AA19-4688-B121-B655C11E482F',
'4295EC00-1D3F-475B-8F7F-BB8615AEFF51',
'2F88BC57-5096-4AEE-BCFC-FE26D4DD3A26',
'D04C0F8C-FE4D-4B5A-AD8E-A43F3BE133C9',
'A2093CCB-A5B8-4956-AD05-C0886FC95CDB',
'810F29AA-6AF6-47E9-B611-C99F7127AF52',
'6D49DC29-D059-4BB8-BA2B-D8FFDDDA4EAC',
'75387230-9CA5-4239-BE4D-DC4A77A2D6AB',
'1C1AAFC4-D344-4666-BC71-DF9E0CD6B2A0',
'1F36EC14-C3D2-48C4-A9B9-F419E0B1E49A',
'AF1623B3-625A-4F0C-93A9-F43516000D5E'
  ) and RR.Ik_region in (select Ik_region 
						from [UGTU_TEST].[dbo].[Region] as Reg
						where Reg.Ik_strana =2 )
order by RR.GUID