/****** Script for SelectTopNRows command from SSMS  ******/
SELECT 
SS.Ik_street
,SS.CStreet
,SS.Ik_gorod
,SS.Ik_type_street
,SS.GUID
,S.Ik_street
,S.CStreet
,S.Ik_gorod
,S.Ik_type_street
,GG.Ik_gorod
,GG.Cgorod
,GG.Ik_raion
,GG.ik_type_gorod
,GG.GUID
,G.Ik_gorod
,G.Cgorod
,G.Ik_raion
,G.ik_type_gorod
,RR.Ik_raion
,RR.Craion
,RR.Ik_region
,RR.GUID
,R.Ik_raion
,R.Craion
,R.Ik_region
,RReg.Ik_region
,RReg.Cregion
,RReg.Ik_strana
,RReg.GUID
,Reg.Ik_region
,Reg.Cregion
,Reg.Ik_strana 
  FROM  [UGTU_TEST].[dbo].[Street] as SS inner join [UGTU].[dbo].[Street] as S
  on SS.Ik_street = S.Ik_street inner join [UGTU_TEST].[dbo].[Gorod] as GG
  on SS.Ik_gorod = GG.Ik_gorod inner join [UGTU].[dbo].[Gorod] as G
  on GG.Ik_gorod = G.Ik_gorod inner join [UGTU_TEST].[dbo].[Raion] as RR 
  on GG.ik_raion = RR.Ik_raion inner join [UGTU].[dbo].[Raion] as R
  on RR.Ik_raion = R.Ik_raion inner join [UGTU_TEST].[dbo].[Region] as RReg 
  on RR.Ik_region = RReg.Ik_region inner join [UGTU].[dbo].[Region] as Reg 
  on RR.Ik_region = Reg.Ik_region 
  
  where SS.GUID in (
'4F036541-947C-401D-997E-4687004FB23A',
'B7A67F38-2961-4A2A-A8B0-59ECB9A86B87',
'66E002E5-D26C-4025-807A-608C93E7B70D',
'FF5292F4-C1E3-4640-A3AF-3C825E24EE4D',
'FDC873AE-AB62-4B87-9680-B991C1F6577C',
'9DB896FE-3561-40D8-8A6C-B1DEC08A03CF',
'2A14FEC7-4F72-4F11-A217-D19762855BD9',
'78439A57-8F58-4DB3-ADB2-B368DDACFBD7',
'7A706629-5B35-4BA6-9405-D69ED4F062CB',
'8DD36304-1C98-4849-95E8-E37F9BC6655A',
'7C5BD295-996F-4B0E-9470-E10FC7841A6C',
'CF9D4C20-DC9C-443E-9C8C-D0183CAB38E2',
'D7A808AA-33F0-46B0-ABEC-D9FAF48D770A',
'EE39AA4A-B533-488A-9960-F577E29DEAC0',
'227A1899-4189-4DC3-8B9E-F7657ED74784',
'F7DC8530-3F06-4D60-8CDB-D1C218E92748',
'6CDD3420-67C5-4912-A41A-CDB6A4773E54',
'DBB6AD01-A6B6-4423-B660-A976FD3CFB6D',
'7BC7320C-E185-4EDA-A682-846526103F4E',
'96922E81-B1FB-4216-9874-4597715473F6',
'EA002E2A-15AC-4D30-9A73-8F02B25CA098',
'5920EFC0-5112-42C4-A4E9-8FB90637C327',
'7ED09C4B-2398-45C2-A82E-922862C46549',
'8B064EFB-2A25-4AD2-A16E-94B1E9E93D18',
'549F9DEF-FF3F-42E4-AB88-9D7763C9EFC4',
'4DD7E2F1-0DC2-44D3-BF19-9C13970C394F',
'ADF4593F-F7FC-49AE-B9D3-A42B6C5FDBCD',
'746167C6-71FC-4FE5-86C2-A69325B80B67',
'614178F5-60C2-47B9-AE52-A6C7EEA9E490',
'C12C0A59-6359-46FE-8A97-2E870BC6C4B2',
'627E94FB-776E-4920-B246-2064F8415447',
'2E9B7F10-0DC1-48CF-9FA0-00B9149F9E73',
'CEA2B7DD-C301-4226-9532-0A2B4B76F398',
'F57DA1A0-199C-4B16-A152-0F70BE63B3EB',
'13DFDE93-035A-478A-B96C-740B916C8382',
'C7F4FD7A-F3A0-4FF1-9CED-4F8B033FEF41',
'C8C41FE9-866F-4999-B92A-48CCABE354EA',
'A20E9016-5868-4799-A58B-43CDBBF2DC1E',
'EE28BC19-5F7C-43BA-BF09-446C65E7E56E',
'10981AAC-C152-4C83-9885-4481B02A5A31',
'43C54D8D-8225-4D14-8D69-449013A75396',
'029BB018-2A3F-4AC9-B0F2-4497FFE0DB2C',
'E8E99E82-D365-44B0-8097-451E2BE1724B',
'BD57D5EA-5BF1-40BC-8530-003EC161B9F5',
'A647E165-AFBE-4B06-9573-00580E5411BE',
'D9C7F472-C797-473A-9D96-0094472E0AFF',
'59FDB6A7-9549-439C-860E-4BCE2D96735F',
'B3271549-8A58-4B33-B2E8-4C207624DDAE',
'13A3D6A8-7A09-428E-9A89-4C38FD56289E',
'4B28237D-43C8-4D8F-9E37-4E2DC4C232D5',
'24808D4D-719E-4F5F-B3FB-4E99F9D55C2E',
'9B1FF0E4-7175-4083-A5A8-4EE1D0C03A3B',
'6ECDB72A-E33E-43CA-967A-5117BD56E704',
'7E58BF08-21EE-4A41-88B6-5267EEBDF708',
'694F31A7-AD98-4739-B876-539516CA0110',
'2E43AF41-B8DD-4D42-8BB2-54C9486A4526',
'F57E9BAC-819A-43FB-A06D-5529AA61B538',
'68A88811-80C4-4B8C-AD89-56AEA7092773',
'AD118BB2-A976-4F07-AC01-58498E57ED5D',
'64822281-C21E-4F47-BF9C-5AA66F15825C',
'03CE8FF9-0F03-4DDC-8225-5B004619E6B5',
'4433AF6C-4249-495F-8ABD-5B3EF9A3C9E3',
'C2DBC0AE-B87D-454F-830C-5B4815B0BC40',
'A45A283E-9936-45D2-A36B-5B81B8E0C469',
'57768A2E-4CD4-411A-97D2-5E99732A38EC',
'5EC07474-9DDE-4D7F-859E-5EC679930B9A',
'48853C92-6D49-4293-8078-5F71F4E76E50',
'BCCF0DDA-414E-4EE3-9D9B-756E00E94640',
'76A722A9-DEC1-45AC-8972-758203C5411F',
'37EFEF5A-0A9F-4DD9-8028-768291DECBD5',
'942171AD-B722-40FB-81F1-76C50D533224',
'EC8F877B-B983-41FE-BE6A-77A335AEA2BE',
'4EC697E8-553F-498D-A3D4-78229A6008AC',
'1478A791-3D66-4483-9768-782D2BF46220',
'369BEFDE-6345-498F-9C65-78B77E98D519',
'81E5490D-F8AA-4373-BC75-795904B73784',
'A81E388C-9237-46DC-A7BD-79C0BE2E3BCF',
'3F781A77-8F01-440D-9A4F-7AB5CD30D096',
'256D7F3C-5D2C-4863-A0F0-7ABA2B9877B1',
'DAE6BCA3-0CFB-4053-BF53-7B3F1B777B6E',
'523C6BEA-E096-4F21-992C-7C377E2C72F6',
'164DA70C-B224-48E1-958A-7D2112D4A468',
'A8EC569E-1ABC-416A-B6CC-7D89442DF220',
'C9215142-18B2-44C5-A291-7DE317CBBE8F',
'7BFB4E16-E39A-4A60-B781-7FF91D61E859',
'E170F000-C051-436A-8F12-814E63EEFFC2',
'6FD89890-5D4E-45CE-BAEC-81B933F248A4',
'34468A4D-D8BC-42F8-B1CB-820105C63095',
'C5B9D5D2-B141-41C5-B3CA-82907EA61EDD',
'27D3230F-3BF6-4882-B7E9-838679A59FBB',
'AF2A8D63-BB8D-4AFA-A45D-840C36C0AC9E',
'CD7C63ED-3EE1-46DE-87DE-620CD03A987F',
'82EF053A-ACE8-4EBA-B99E-6300F0904E71',
'02E352B6-495D-4B4C-9233-65265E5A71BE',
'301E57F2-057C-43AF-BD06-661C2F94C3DB',
'C36F217D-3A45-4816-B13E-668DEE5CBB98',
'E3EA9F2A-41E4-4C55-AE69-66D887E81FF0',
'826C8343-E36B-4695-BE1B-66E8F103D37F',
'DF0F21AC-4CB6-4F1A-A87A-67B8541A8335',
'16E01FCE-BCED-4EFF-93DC-6827953F86AE',
'E21E2F86-63BB-4929-A2A7-697D11755234',
'8BB62946-72E2-4E82-9778-69B32577787A',
'E49FF7AD-4A7F-48F6-8CA4-6ABA36ECC044',
'0C9DE90C-A011-4322-915A-6B3E0D072F57',
'83AE9F26-AA8B-471B-93BC-6B92DB64626E',
'36816E34-3C5D-4DC9-908E-6C273A6FE69A',
'1888DF17-423B-4DCE-9852-6C801A49262F',
'EC223338-1E09-4744-A718-6CEF6B28B5CD',
'CC6D18A5-31E8-49B5-8B88-6DD2E773F38F',
'718EFD08-61B1-4F58-B21C-707A34B38B95',
'191EC4C1-A632-4D32-A56A-70A09A09DD18',
'FF008457-CAB5-47ED-ACDB-72C227D177BF',
'69D56C99-B2E0-46DA-B406-0F79C9D933E8',
'9F81F4CD-D3C8-40AF-B17F-1065E5973125',
'4E4DD5AB-7B9E-40B2-B88C-1097D76ACB17',
'5271081D-7B9A-442D-9688-10A40754774B',
'DC185629-235C-4831-B7B8-1445624D4916',
'67CCD14F-9C67-4CC2-AF5B-1480020C7CC4',
'8D18F589-87E9-4F1D-8ACF-14D8378372F9',
'51A77C1A-901A-4E1C-B4A1-16CF3CC9ED11',
'95454228-9424-442C-9B85-17006A0AD6E7',
'3E7BEC97-AEFC-4D16-B0EB-170FFD1B7FBD',
'83CAC454-6E11-4F3F-89BA-174917D8404C',
'F5A6D90C-EB80-4B08-89BF-1E67C446BF9C',
'F4E6633D-D629-4E78-BB0E-1EF0ACAD734B',
'0163DD0C-7750-4D44-859E-1EF39A42D776',
'FBF3A3AC-157D-4274-9D53-1FC57CC1493F',
'5B6B31E2-7959-47D5-8A26-1FF0510C9545',
'75E44E9F-A08D-4EBA-B5FE-204A3186F307',
'8F5540CD-222C-47C2-A0B0-205EB944A8CD',
'8721C7F9-5E62-491E-80D6-0AE36B3F9FCD',
'B2F1BC2E-A4D3-4BDE-9749-0BA2284723D8',
'7E0615B6-59F0-4980-AE47-0D1425DED684',
'282D270A-2A46-441D-A9B4-0D33A918B944',
'50AE36F6-B822-485E-A43D-0DAE7B690E43',
'D03C708B-37F2-4777-99C4-0DC5BB250C07',
'957C8AD8-66E6-4A6E-AD7F-0EABDCFE3AFF',
'4235B0AF-9CA6-4086-A4C5-0EAD62F50286',
'36341159-C411-43EE-AF03-0EB80D9FF66F',
'793396B4-F784-4174-889D-0F2EADC2DA73',
'0073F827-D234-43B3-9947-00D8DBD355A2',
'4B645894-360F-4824-AB52-01256D155764',
'CBAAD917-7737-46D1-AC1C-027001E44A4E',
'7603959C-AAB3-4723-8DF2-0289905F28EE',
'12BE65CF-0574-433A-93B0-033B546AABEB',
'6E2FDDE2-50B3-4253-8789-0403E5BF558F',
'E6C67596-C0BE-4119-9A43-05B76BABF2C3',
'44FC0326-47F2-453A-BF92-0711E79CB316',
'02BFF7A6-1593-4852-B9EA-0797181CD23F',
'DD736AD8-D23E-4E8E-B7FA-08F944EDBB97',
'58EE4B8B-FC3E-4182-BD26-09BCBBD51026',
'7B783624-994C-4D28-9232-211B165B332D',
'B0ABA22A-5507-4DD6-93A1-2296C3B52EE6',
'19A7C97B-32DC-47A7-915F-243B30727ED2',
'FA85881D-5C09-4D90-A5A6-253AE5545BF4',
'9D2A2D0C-9473-4B01-9B51-25C1D2435422',
'00873C96-4D4A-493F-8A34-267BD6CA6A92',
'E91176B5-773A-4A10-943E-27E4E71F07E2',
'14D2C62E-2F98-40D3-BA07-284C2B2EA17A',
'C78A62AB-F59F-4696-985A-28D5FFBAAEC9',
'5AA95A1E-6F5D-44C1-8C91-295751D35949',
'899515AD-C645-4489-ACCC-296F07E09C95',
'946445D1-BBDB-42BB-BF36-29CEBC2EA184',
'11E1C26D-0DDF-4273-85B5-2A2035FB3DF2',
'4556898B-EE27-4F7A-9A3D-2B7A9F6BDB40',
'426C1343-28CF-4485-B27B-2C52BCE89DEB',
'5429B1DB-AF4A-4348-B7BF-2D119262AE4C',
'D428F391-B664-4570-9174-2D1C19EDF862',
'B998218C-0323-4D1B-B078-2D2607608329',
'2024AD01-FE40-4939-904F-2D3D913E6004',
'5D7CC9B7-6FD6-4ABD-B468-2E4295243675',
'8FA427BC-DFA4-40BD-87FC-2EDDD11102A3',
'32AAB434-7394-4803-A81D-2F20F35FF7DB',
'F7663A0B-2DF6-49DD-9CB2-2F6126D1423C',
'EE94447C-F4BF-47A7-A9CA-2FE35297D70A',
'67D4543C-C68C-4F10-901D-2FFA3A4FD4E9',
'75BF57D7-6496-4A28-9CBD-33FF545A4EDA',
'79DE640D-A43E-4AF3-9E2D-340636859D8B',
'E3C017D5-3B8F-4AB1-A0FB-35C3FBA6A3D4',
'B61FB01B-AB76-4BE4-9AB0-371FEE94B899',
'7553E5AB-58BA-446E-B6DE-378DBC868087',
'87F2CD3F-6556-431A-B337-3A8E64682DCD',
'DD979C07-5F8D-4DA5-B481-3B238EF51E69',
'785786D8-E860-48FC-A1DF-3C68CF805358',
'475F1D14-8EB4-4767-B0F7-3C85650DB59A',
'AB07665D-56DC-4E0B-9C82-3D20D369866D',
'4DC100E2-7C31-4B13-A1CD-3D320BB554A3',
'244CD20B-0318-45AE-91E8-3DFE35112832',
'29910B62-BE82-4CF2-A1CD-3E1A94975FCB',
'084A105B-9437-47DB-A1E3-3EB6AD425B60',
'CBCA5667-6F9F-474E-87D2-3EE1A9AE16AC',
'7DDF08D3-CF1F-4A20-9787-402B42E54065',
'9136FAC4-F0B0-4F83-8DD4-40EC7705140A',
'75D89569-9367-4075-A53B-4260BB43C515',
'12A1E0C8-D10A-47FE-AF53-433FC850B21C',
'5FE0C51B-2CB1-44CB-BF72-437E5D53DC44',
'A4AA3B26-40A7-4C26-A77F-A6ECB8F7981C',
'D132706E-B7F7-422B-BDD3-A951B5BC8925',
'A4D7CB48-0200-499D-9E96-A6A446E73086',
'A25C99E8-BD9D-4125-B885-A551AF602829',
'13DFA260-005E-4A7E-B554-9C36DE676854',
'AA4C7937-DA04-448F-9E89-9DB002FC1C92',
'44E73C9B-E662-4686-889B-A02A4C2EBA42',
'47D2EEC8-1A39-4ACF-BCF1-A0C860986369',
'D3AA6044-EC51-4253-BC63-A27AA168D599',
'6A2C6730-AEEB-4516-BE7E-A42459D639FB',
'D44CC800-8092-4C09-A1B1-9527DD375CA2',
'2F5077C2-F2D3-4E5A-9653-9804FB0BE4FF',
'247BAF04-A6F7-46F4-8A82-992A5CC9BE4C',
'F2D6A3B3-4F49-4A5C-91FD-9A433C394328',
'F189D915-5AED-4ACB-9BC2-9BC04AA8CA64',
'58C4DD60-D680-4F50-9523-93C242B22ED4',
'FD6C82DB-8A23-4CB5-9AE3-93DE204097A9',
'AE10C6D9-F38C-40FD-B086-8FDB8F7F6A67',
'9C59C518-C54D-4A17-A46B-90096295ADA9',
'572956A4-A16B-4AA2-BBFD-8F8AFE00E1D3',
'B6A5DEFB-2248-4375-977E-45D4D6E1654E',
'1CD9962D-0D90-4195-BB8D-4685B9662AE9',
'8D29B843-0FFF-4D90-89A8-880CA677D0EC',
'AE9528EE-C867-4AE7-A930-882884FB3615',
'FBFC6459-4842-4219-AF77-884E556442A6',
'F499D1A1-FC6E-4DF3-9E74-89C2B0C8461E',
'D163A41A-9E4E-4C7E-9CD8-89FEE17542E9',
'C8B7425A-0169-4C52-886D-8A1519E141E3',
'9FB52AF3-2A8B-4F8F-AC94-8A15FDCF2B00',
'C289E8BC-B847-4CBE-B314-8B4AEE8B0E85',
'3367CB31-9980-418F-8230-8DC977ED004B',
'B5C7823E-046C-4E1F-87F5-8EF72F48AD40',
'7762207C-6CAC-4624-B523-A9788DDB6F1D',
'3458C4AE-E27C-4ACC-9EBE-AA97D97D0293',
'BEFACCA1-BCCF-4F60-B0B1-ABC87D2F3592',
'0AC9A930-BD3F-4EB3-951F-ABDF4ADD94D3',
'F1BBCEAC-B9E8-4119-A790-ABE7F8FCE57D',
'B5948FDF-180F-4D93-955E-ADD272326E8C',
'CB3045BB-9BA0-4E9C-A6A5-AE4B15268E27',
'BE8A4A0F-EB9A-4E85-83EF-AE7B9A3EC529',
'8BBFABEF-4732-4679-92BF-AE9DF517ECF5',
'82A7960B-47CC-4C29-B41D-AFDBE70E4055',
'078F2872-8847-48A6-B74A-B180E74AD65A',
'DE1DDAC2-E3BB-4CBF-A99F-B1BAE89AFBD9',
'A06094B8-A300-458E-9EF9-BA4D3D54562D',
'72A71265-1913-4B25-9093-BAD2F48B142D',
'0E3B6DF3-B66B-4819-A8F4-BB1D7CC5F8EC',
'4F6C96FB-839F-4B3B-8E23-C5EAD7C6D6BB',
'4C457007-E268-4F3C-9629-C62FFD4B0C4F',
'4F17B1F5-CA27-439F-8E19-C984679E94C3',
'0B06465D-919E-4EC4-8B66-CCE48C40CCFD',
'CA7C0EA7-6E55-4CFD-8E59-CD152164160D',
'8F6E8149-727D-4D7F-AFE1-CDE60F8791F2',
'DE06147C-F5B8-4315-8136-CE493AFD5FAC',
'DC1D890C-1921-4479-8D1D-CEC6703F424B',
'D0696483-4C05-45EF-94D9-CF93A0CB3558',
'0ADC8EDD-7EBF-4903-932B-B263EE681303',
'158E1894-EB43-46E0-A594-B2D59756500C',
'4550DFD9-9415-4FEE-9CC5-B33B10910C56',
'322499E5-C9C2-4258-90FC-B34108E6477E',
'E0EFA97B-6347-4A3F-82A9-D1DCEB3A73FB',
'6EC50B98-30B6-4B2C-9702-D213CCEC03EB',
'C681D5E5-7996-47C3-AB16-D4787C9DF391',
'F56FA1D1-CBEE-4E02-A546-D4D788D12B93',
'12981417-6684-4D59-A94C-D600555BDE5B',
'853210D5-D11B-4070-99EB-D6382D14BB53',
'D29B6C5D-61F1-44E6-89F4-F879937EDD83',
'39E9040D-1813-4398-8D82-F8BF72EC7C7D',
'E0879525-6288-4ACE-ABB4-F94AE4ADA771',
'4A795E0C-6961-4333-A55A-FA388D37D9C6',
'62CB51C2-9E84-4B9A-B087-FB30369E2835',
'21B2F609-9386-4151-9AE7-FB33909DF5DE',
'A342B9AB-126B-47E6-8D55-FB5AC351103A',
'DA1AE5DC-9180-4B0F-AC3E-FB5E7E5024E4',
'850318CA-1B9C-4EF6-AAA8-FC4BC225004C',
'1EEBD675-84B0-464F-93A7-FD90833B0953',
'D929B87D-A8FD-40D1-ACFC-FDAF9E330163',
'B1DB9191-3069-43C6-AD95-FDBFDD8A6219',
'2FF5AD8D-C5D7-41A3-944E-FDD1BAF91594',
'F513DE09-C92E-4FB3-8E6A-DA561E30E7FF',
'D302712B-80A5-49F2-85EE-DB18F7968F97',
'6B6F7A63-0CD4-44C8-BEF9-DD1203A17027',
'AA6E5F10-D42D-40A6-9C07-DDE72C6F0AB2',
'38D6191F-DA9B-4C81-9CB2-DE95933C9E17',
'277B6260-0F59-4A27-AB33-DF924681E0A7',
'F2F4563A-D616-49C7-86E7-DFCD1B9568D8',
'21828AA7-A4C0-4775-8EBF-DFD201D3CDD0',
'1C65BC84-EC86-4026-86C1-DFDFE47E654A',
'DE78E4C9-BAB4-4AE3-8821-DFF8FB6653DC',
'50159A1C-E743-4F21-AB5D-E084EAF79EEB',
'C564947A-0516-455D-A657-D12377937ECB',
'345E61F1-0F23-4717-9A5B-B5A41B11B776',
'BEAA0975-FD1D-4655-BC3F-E1BD9B352D46',
'6C534EF6-ECAB-406F-8A36-E1C43E931860',
'F4D51D76-D567-4722-9250-D7A598931828',
'8F694852-BAE9-4A69-8919-D7FD2E73B414',
'619F5EE6-5BDD-4F38-8C8A-E43371EB180F',
'791CAF6B-2F2D-4582-98FC-E46F47660A06',
'23EBE361-07C7-499A-B737-E62693C3558A',
'CC302090-B710-4380-B8E0-E677DD76D904',
'70BA78ED-D0BF-4F94-8002-E78CA0CC0B61',
'DE933475-1E7D-47BD-A290-E8055D2F46E5',
'4525A3C9-3BAB-421C-84D7-E83D2A662C1F',
'A1881D3C-9C61-4902-8929-E8C7FC705CC6',
'2C987118-BBF1-47DF-BBC4-EBB3300B8F52',
'A94D2D09-53B0-46B3-8DCD-ECAA254DF8E2',
'99D76043-6DF4-4B7B-8440-ED936717D3AB',
'69D8B3B0-267F-4BFE-B49E-EDEF1625324B',
'7DD6FBEA-A549-4D48-8262-EE399864246E',
'CD50A5F5-0502-49FB-8458-F0143EA1298D',
'80A9E94A-AB1F-44E8-B26D-F1835C76F53E',
'A70AC25C-714C-4AE8-A397-F2429AC6166D',
'E4158F4C-52D2-4DA2-9EE0-F330AA9DBC85',
'94D185F9-226B-42A8-8903-F38CDF992591',
'AC2324EC-456C-4F3C-A7FE-F3B452A04118',
'AC3A4479-1C19-4589-9CBD-F4FF5D185F45'
  )-- and RR.Ik_region in (select Ik_region from [UGTU_TEST].[dbo].[Region] as Reg where Reg.Ik_strana =2 )
order by SS.GUID