/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [id]
      ,[itab_n]
      ,[FirstName]
      ,[LastName]
      ,[Otch]
      ,[BirthDate]
      ,[BirthPlace]
      ,[SexBit]
      ,[idGrazd]
      ,[idSemPol]
      ,[SeverKoeff]
      ,[RayonKoeff]
      ,[GUID]
      ,[EmployeeSid]
      ,[EmployeeLogin]
      ,[AllowBirthdate]
      ,[paspser]
      ,[paspnomer]
      ,[paspdate]
      ,[paspkem]
      ,[inn]
      ,[ssgps]
      ,[medpolis]
      ,[EmployeeName]
      ,[OtpReducedFareDateBegin]
      ,[EmployeeSmallName]
      ,[EmplHistSer]
      ,[EmplHistNumber]
      ,[EmplHistDate]
      ,[idMilitaryCategory]
      ,[idMilitaryRank]
      ,[VUSCode]
      ,[idMilitaryFitness]
      ,[MilitaryCommissariat]
      ,[idMilitaryType]
      ,[RemovalMilitaryMark]
      ,[idMilitaryStructure]
      ,[NumberMilitaryType]
      ,[email]
      ,[paspCodeKem]
      ,[idPrikazFIO]
      ,[DateFIOUse]
      ,[EmployeeFIO]
  FROM [Kadr].[dbo].[EmployeeView]
  where 
  [LastName] LIKE '%Сармотина%'